* {
    font-family: Verdana bold , Geneva bold , Tahoma bold, sans-serif bold;  
  }

.row{
    display: flex;
    gap: 6px;
}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 6px;
}

.enter_btn{
    height: 41px;
    width : 310px;
}

.backspace_btn{
    height: 41px;
    width : 50px;
}

.key{
    background-color: lightgrey;
    height: 31px;
    width : 31px;
    border: none;
    font-size: 17px;
    border-radius: 6px;
    outline: none;
}
.key:hover
{
    background-color: rgb(156, 156, 156);
}

.field{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field_row{
    display: flex;
    gap: 2px;
}

.square{
    background-color: lightgrey;
    height: 69px;
    width : 69px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    outline: none;
}

