body{
    margin  : 0;
}

#left_right{
    height: 50px;
    display: flex;
    direction:row;
}

#up{
    width: 300px;
    height: 50px;
}

#down{
    width: 300px;
    height: 50px;
}

#right{
    width: 150px;
    height: 50px;
}
#left{
    width: 150px;
    height: 50px;

}
.container{
    height : 100;
    line-height: 50px;
}
li{
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    list-style-type:none;
}

li:nth-of-type(1){

    background-color: red;
}

li:nth-of-type(2){    
    width : 100;
    background-color: blue;
}


li:nth-of-type(3){
    width : 100;
    background-color: orange;
}

a{
    padding: 20;
    color: white;
    text-decoration:none;
}